<ul class="pokemons-container">
  <li class="pokemon-card" *ngFor="let pokemon of pokemons">
    <a class="pokemon-link" routerLink="/pokemon/{{ pokemon.number }}">
      <div
        class="background"
        [ngStyle]="{ backgroundColor: pokemon.pokemonTypes[0].bColor }"
      >
        <img
          class="logo"
          src="{{ pictureRoute + pokemon.pokemonTypes[0].picture }}.png"
        />
      </div>
      <h2 class="pokemon-name">{{ pokemon.name }}</h2>
      <img
        class="pokemon-picture"
        src="{{ pokemon.picture }}"
        alt="{{ pokemon.name }}"
      />
      <ul class="pokemon-types-container">
        <li class="pokemon-type" *ngFor="let type of pokemon.pokemonTypes">
          {{ type.name }}
        </li>
      </ul>
    </a>
  </li>
</ul>
