@use "../../imports" as *;

.pokemons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: $cardVerticalGutter $cardHorizontalGutter;
  width: 100%;
  margin: 0 auto;
  .pokemon-card {
    width: $smallCardSize;
    height: $smallCardSize;
    border: 1px solid $brightColor;
  }
}

@media screen and (min-width: 450px) {
  .pokemons-container {
    .pokemon-card {
      width: $cardSize;
      height: $cardSize;
    }
  }
}

@media screen and (min-width: 680px) {
  .pokemons-container {
    justify-content: flex-start;
  }
}
