@import "../../imports";

$contentLeftSpace: 0.5rem;
$verticalLogoSpace: 0.5rem;

.pokemons-container {
  display: flex;
  flex-flow: row wrap;
  gap: $cardVerticalGutter $cardHorizontalGutter;
  width: 100%;
  margin: 0 auto;
  .pokemon-card {
    width: $smallCardSize;
    height: $smallCardSize;
    border: 1px solid $brightColor;
    .pokemon-link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .logo {
          display: block;
          position: absolute;
          width: 30px;
          object-fit: contain;
          bottom: $verticalLogoSpace;
          left: $contentLeftSpace;
          opacity: 0.4;
        }
      }
      .pokemon-name {
        position: absolute;
        font-size: 1.6rem;
        letter-spacing: 1px;
        top: -1rem;
        left: $contentLeftSpace;
        z-index: 1;
        text-shadow: $darkColor -4px 4px 0px;
      }
      .pokemon-picture {
        width: 80%;
        height: $smallCardSize;
        object-fit: contain;
        position: absolute;
        display: block;
        top: -5%;
        left: 10%;
      }
      .pokemon-types-container {
        font-family: $defaultFont;
        font-size: 12px;
        letter-spacing: 1px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        bottom: -24px;
        right: 0;
        gap: 1rem;
        text-transform: capitalize;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .pokemons-container {
    .pokemon-card {
      width: $cardSize;
      height: $cardSize;
      .pokemon-link {
        .pokemon-picture {
          height: $cardSize;
        }
      }
    }
  }
}
