$brightColor: #fdf5df;
$darkColor: #2c2c2c;
$brightPrimaryColor: #5ebec4;
$darkPrimaryColor: #f92c85;
$whiteColor: #fffafa;

$titleFont: "Bebas Neue", sans-serif;
$defaultFont: "Libre Baskerville", serif;

$electricBackground: #f2cb07;
.background-4 {
  background-color: $electricBackground;
}
