@import "./imports";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkColor;
  color: $whiteColor;
  font-family: $defaultFont;
}

a,
button,
input,
textarea {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: $titleFont;
}
