@use "./imports" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkColor;
  color: $whiteColor;
  font-family: $defaultFont;
}

a,
button,
input,
textarea {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: $titleFont;
}

h1 {
  letter-spacing: 1px;
}

ul,
li {
  list-style-type: none;
}
