@use "../../imports" as *;

.intro-section {
  @include pageCoveringSection;
  .titleContainer {
    padding: 2px;
    border: 4px solid $darkPrimaryColor;
    margin-bottom: 4rem;
    .title {
      background-color: $darkPrimaryColor;
      padding: 8px;
      font-size: 2rem;
    }
  }
  .link {
    @include CTAButton;
  }
}

@media screen and (min-width: 450px) {
  .intro-section {
    .titleContainer {
      .title {
        font-size: 4rem;
      }
    }
    .link {
      font-size: 1.5rem;
    }
  }
}
